.b {
    background-color: #CCD3C4; 
}

.b-wrapper {
    padding: 50px 18px;
    padding-top: 80px;
}

.b-title {
    text-align: center;
    font-size: 24px;
    color: #282724;
    font-weight: 600;
    margin-bottom: 50px;
}

.b-item-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.b-item {
    margin-bottom: 20px;
}

.b-icon-wrapper {
    border-bottom: 2px solid rgba(0, 0, 0, 0.473);
    width: 150px;
    margin-bottom: 10px;
}

.b-icon {
    width: 25px;
    margin-bottom: 5px;
}

.b-desc {
    width: 150px;
    font-size: 15px;
    color: #1b1b1b;
}

@media screen and (min-width: 480px) {
    .b-wrapper {
        /* outline: 1px solid black; */
        padding: 50px 30px;
        padding-top: 80px;
    }
}

@media screen and (min-width: 620px) {
    .b-wrapper {
        /* outline: 1px solid black; */
        padding: 50px 50px;
        padding-top: 80px;
    }
}

@media screen and (min-width: 813px) {
    .b-item-wrapper {
       /* outline: 1px solid black;  */
       width: 500px;
       margin: auto;
    }
}


@media screen and (min-width: 1100px) {
    .b-wrapper {
        /* padding: 50px 100px; */
        padding-top: 80px;
    }
    
    .b-item-wrapper {
       width: 1000px;
       justify-content: center;
    }

    .b-item {
        /* outline: 1px solid black; */
        flex-basis: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1300px) {
    .b-icon-wrapper, .b-desc {
        width: 200px;
    }

}