.f {
    background-color: #E7B372;
}

.f-wrapper {
    padding: 50px 18px;
}

.f-text {
    display: none;
}

.f-title {
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    margin-bottom: 30px;
    text-align: center;
}

.f-btn-wrapper {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.f-btn {
    width: 90px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin: 6px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

.f-btn.no {
    background-color: black;
    color: white;
}

.f-item {
    background-color: white;
    border-radius: 15px;
    padding: 15px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 340px;
    height: 160px;
}

.f-img {
    width: 60px;
}


.f-info {
    /* outline: 1px solid black; */
    width: 250px;
    margin-left: 20px;
}

.f-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.f-circle {
    outline: 2px solid black;
    flex-basis: 30px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-num {
    font-weight: bold;
}

.f-subhead {
    margin-left: 20px;
}

.f-badge {
    width: 140px;
}

.f-badge-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.f-desc {
    /* outline: 1px solid black; */
    width: 150px;
    font-size: 15px;
}

.f-shape {
    display: none;
}

@media screen and (min-width: 813px) {
    .f-wrapper {
        padding: 50px 50px;
    }

    .f-text {
        /* outline: 1px solid black; */
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        gap: 1rem;
    }

    .f-how-wrapper {
        flex-basis: 50%;
        
    }

    .f-how {
        font-size: 30px;
        font-weight: 500;
        line-height: 140%;
    }

    .f-wash-wrapper {
        flex-basis: 50%;
    }

    .f-wash {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .f-shape {
        border: 1px solid black;
        border-top-right-radius: 30px;
        border-left: none;
        border-bottom: none;
        display: block;
        width: 50%;
        height: 100px;
        margin-bottom: 30px;
    }
}