.h {
    /* outline: 1px solid black; */
    position: relative;
    overflow: hidden;
}

.h-header {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-top: 50px;
}

.h-logo {
    font-size: 18px;
}

.h-circle-wrapper {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
}

.h-circle {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.h-icon {
    width: 17px;
    height: 17px;
}

.h-text {
    /* outline: 1px solid black; */
    width: 306px;
    margin-top: 30px;
    padding: 0 18px;
}

.h-desc {
    font-size: 26px;
    line-height: 150%;
    font-weight: 600;
    color: #282724;
}

.h-btn {
    display: none;
}

.h-img {
    /* outline: 1px solid black; */
    width: 120%;
    margin-top: 20px;
}

.h-telno.hide, 
.h-circle.hide {
    display: none;
}

@media screen and (min-width: 420px) {
    .h-logo {
        font-size: 22px;
    }

    .h-text {
        /* outline: 1px solid black; */
        width: 350px;
    }

    .h-desc {
        font-size: 30px;
    }
}

@media screen and (min-width: 480px) {
    .h-header {
        padding: 0 30px;
    }

    .h-logo {
        font-size: 24px;
    }

    .h-text {
        /* outline: 1px solid black; */
        width: 380px;
        padding: 0 30px;
    }

    .h-desc {
        font-size: 32px;
    }
}


@media screen and (min-width: 620px) {
    .h-header {
        padding: 0 50px;
    }

    .h-logo {
        font-size: 24px;
    }

    .h-text {
        /* outline: 1px solid black; */
        width: 480px;
        padding: 0 50px;
    }

    .h-desc {
        font-size: 36px;
    }
}


@media screen and (min-width: 813px) {
    .h-header {
        padding: 0 50px;
    }

    .h-logo {
        font-size: 24px;
    }

    /* .h-circle-wrapper {
        outline: 1px solid black;
    } */

    .h-circle {
        background-color: #ebe6e3;
    }

    .h-circle.hide {
        display: flex;
    }

    .h-text {
        /* outline: 1px solid black; */
        width: 500px;
        padding: 0 100px;
    }

    .h-desc {
        font-size: 42px;
        line-height: 110%;
    }

    .h-img-wrapper {
        /* outline: 1px solid black; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 50px;
    }

    .h-img {
        width: 90%;
    }

    .h-btn {
        display: inline-block;
        border: none;
        background-color: #E7B372;
        width: 160px;
        height: 50px;
        border-radius: 25px;
        font-weight: 600;
        color: #282724;
        cursor: pointer;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .h {
        height: 105vh;
        outline: 1px solid red;
    }

    .h-text {
        /* outline: 1px solid black; */
        width: 700px;
    }

    .h-desc {
        font-size: 50px;
    }

    .h-img-wrapper {
        /* outline: 1px solid black; */
        margin: 0;
        margin-bottom: 50px;
        position: absolute;
        top: 240px;
        z-index: -99;
    }

    .h-img {
        width: 75%;
    }

    .h-btn {
        width: 200px;
        font-size: 14px;
    }
}


@media screen and (min-width: 1200px) {
    .h-img-wrapper {
        /* outline: 1px solid black; */
        top: 180px;
    }

    .h-img {
        width: 75%;

    }
}

@media screen and (min-width: 1370px) {
    .h {
        max-width: 1364px;
    }
}