.h {
    position: relative;
    overflow: hidden;
}

.h-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-top: 50px;
}

.h-logo {
    font-size: 18px;
}

.h-circle-wrapper {
    display: flex;
    align-items: center;
}

.h-circle {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.h-icon {
    width: 18px;
    height: 18px;
}

.h-text {
    width: 306px;
    margin-top: 30px;
    padding: 0 18px;
}

.h-desc {
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    color: #282724;
}

.h-desc-content {
    display: inline-block;
    opacity: 0;
    animation: revealText 2s 1s forwards;
}

.content-second {
    animation-delay: 1.24s;
}

.content-third {
    animation-delay: 1.334s;
}

@keyframes revealText {
    from {
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.h-btn {
    display: none;
    opacity: 0;
    animation: revealImgBtn 1s forwards;
}

.h-img {
    width: 120%;
    margin-top: 20px;
    opacity: 0;
    animation: revealImgBtn 1s forwards;
}

@keyframes revealImgBtn {
    from {
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.h-telno.hide, 
.h-circle.hide {
    display: none;
}

@media screen and (min-width: 420px) {
    .h-logo {
        font-size: 22px;
    }

    .h-text {
        width: 350px;
    }

    .h-desc {
        font-size: 30px;
    }
}

@media screen and (min-width: 480px) {
    .h-header {
        padding: 0 30px;
    }

    .h-logo {
        font-size: 24px;
    }

    .h-text {
        width: 380px;
        padding: 0 30px;
    }

    .h-desc {
        font-size: 32px;
    }
}


@media screen and (min-width: 620px) {
    .h-header {
        padding: 0 50px;
    }

    .h-logo {
        font-size: 24px;
    }

    .h-text {
        width: 480px;
        padding: 0 50px;
    }

    .h-desc {
        font-size: 36px;
    }
}


@media screen and (min-width: 813px) {
    .h-header {
        padding: 0 50px;
    }

    .h-logo {
        font-size: 24px;
    }
 
    .h-circle {
        background-color: #ebe6e3;
    }

    .h-circle.hide {
        display: flex;
    }

    .h-text {
        width: 500px;
        padding: 0 100px;
    }

    .h-desc {
        font-size: 42px;
        line-height: 110%;
    }

    .h-img-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 50px;
    }

    .h-img {
        width: 90%;
    }

    .h-btn {
        display: inline-block;
        border: none;
        background-color: #E7B372;
        width: 160px;
        height: 50px;
        border-radius: 25px;
        font-weight: 600;
        color: #282724;
        cursor: pointer;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1100px) {
    .h {
        height: 120vh;    
    }

    .h-telno.hide {
        display: inline;
        margin-right: 40px;
        color: #282724;
        font-weight: bold;
    }

    .h-text {
        width: 700px;
    }

    .h-desc {
        font-size: 50px;
    }

    .h-img-wrapper {
        margin: 0;
        margin-bottom: 50px;
        position: absolute;
        top: 240px;
        z-index: -99;
    }

    .h-img {
        width: 75%;
    }

    .h-btn {
        width: 200px;
        font-size: 14px;
    }
}


@media screen and (min-width: 1200px) {
    .h {
        height: 650px;
    }

    .h-img-wrapper {
        top: 150px;
        right: 30px;
    }

    .h-img {
        width: 900px;

    }
}

@media screen and (min-width: 1370px) {
    .h {
        max-width: 1364px;
    }
}