.h {
    /* outline: 1px solid black; */
    position: relative;
    overflow: hidden;
    height: 60vh;
}

.h-header {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
    margin-top: 50px;
}

.h-logo {
    font-size: 18px;
}

.h-circle-wrapper {
    /* outline: 1px solid black; */
    display: flex;
    align-items: center;
}

.h-circle {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-circle {
    margin-left: 5px;
}

.h-icon {
    width: 17px;
    height: 17px;
}

.h-text {
    /* outline: 1px solid black; */
    width: 306px;
    margin-top: 30px;
    padding: 0 18px;
    z-index: 999;
}

.h-desc {
    font-size: 26px;
    line-height: 150%;
    font-weight: 600;
}

.h-img {
    /* outline: 1px solid red; */
    max-width: 130%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 180px;
    left: -20px;
    z-index: -1;
}

.h-telno.hide, 
.h-circle.hide {
    display: none;
}