.a {
    margin-top: 30px;
}

.a-text {
    /* width: 300px; */
    padding: 0 18px;
    text-align: center;
    margin-bottom: 50px;
}

.a-desc {
    color: #4D4B4B;
    font-weight: 600;
    font-size: 20px;
}

.a-box {
    /* outline: 1px solid black; */
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
}

.a-box:last-child {
    margin-bottom: 100px;
}

/* .a-box > * {
    outline: 1px solid black;
} */

.a-title {
    text-transform: uppercase;
    color: #B0AFAA;
    font-weight: 700;
    font-size: 14px;
}

.a-item {
    font-size: 14px;
    width: 150px;
    font-weight: 600;
    color: #4D4B4B;
    margin-bottom: 15px;
}

.a-item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 480px) {
    .a-text {
        padding: 0 30px;
    }
    
    .a-desc {
        font-size: 24px;
    }

    .a-box {
        /* outline: 1px solid black; */
        justify-content: space-between;
        padding: 0 60px;
    }

    .a-item, .a-title {
        /* outline: 1px solid black; */
        font-size: 15px;
    }

}

@media screen and (min-width: 620px) {
    .a-text {
        /* padding: 0 50px; */
        display: flex;
        justify-content: center;
    }

    .a-desc {
        /* outline: 1px solid black; */
        width: 510px;
        font-size: 27px;
    }

    .a-box {
        padding: 0 100px;
    }

    .a-item {
        /* outline: 1px solid black; */
        width: 250px;
    }
}

@media screen and (min-width: 813px) {
    .a-box {
        /* outline: 1px solid black; */
        padding: 0;
        width: 550px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media screen and (min-width: 1100px) {
    .a {
        /* outline: 1px solid green; */
        margin-top: 100px;
    }

    .a-desc {
        /* outline: 1px solid black; */
        width: 680px;
        font-size: 38px;
        margin-bottom: 40px;
    }
    
    .a-box {
        /* outline: 1px solid black; */
        width: 560px;
    }
    
    .a-item {
        /* outline: 1px solid black; */
        width: 350px;
    }
}