.t {
    margin-top: 50px;
}

.t-wrapper {
    padding: 18px;
    padding-bottom: 30px;
}

.t-title {
    font-weight: 600;
    font-size: 24px;
    color: #282724;
    text-align: center;
    margin-bottom: 30px;
}

.t-item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.t-item {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.t-img {
    width: 120px;
    height: 120px;
}

.t-desc {
    color: #282724;
    font-weight: 600;
}

.t-bold {
    font-weight: bold;
}

@media screen and (min-width: 813px) {
    .t {
        margin: 150px 0;
        margin-bottom: 100px;
    }

    .t-wrapper {
        padding: 0 30px;
    }

    .t-title {
        margin-bottom: 60px;
    }
    
    .t-item-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}