@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

.app {
  font-family: 'Mulish', sans-serif;
}

@media screen and (min-width: 1440px) {
  .app {
    border: 1px solid red;
    width: 1440px;
    margin: auto;
  }
}